:root {
  --bg-color: #112;
  --fg-color: #fff;
  --ac-color: #0fb;
}
html {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  background-image: url();
  color: var(--fg-color);
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--ac-color);
}

.container {
  padding: 0;
}

.title {
  margin-bottom: 30px;
  padding: 20px;
  color: var(--ac-color);
  text-align: center;
}

.title-name {
  font-size: 21vw;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

.title-name a {
  color: var(--ac-color);
}

.title-name a:hover {
  color: var(--ac-color);
}

.search {
  margin: 20px;
  padding: 20px;
}

.search-song {
  width: 100%;
  border: none;
  color: #112;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  padding: 32px 64px;
  border-radius: 120px;
  outline: none;
}

.search-song:focus {
  /* box-shadow: 0 0 32px var(--ac-color); */
}

.results {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  padding-top: 10px;
  margin-bottom: -20px;
}

.result {
  border-bottom: 1px solid var(--ac-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.result:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.result.result-last {
  border-bottom: none;
}

.lyrics {
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
}

.lyrics-title {
  text-align: center;
}

.copy-lyrics {
  text-align: right;
  cursor: pointer;
  color: var(--ac-color);
  text-transform: uppercase;
}

.credits {
  font-weight: 800;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.credits a {
  color: #aaa;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.lyrics {
  font-size: 32px;
}
