:root {
  --bg-color: #fff;
  --fg-color: #112;
  --ac-color: #112;
}

* {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--fg-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fg-color);
}

::placeholder {
  color: #aaa;
  text-overflow: ellipsis;
  transition: all 0.2s;
}

::selection {
  background: var(--fg-color);
  color: var(--bg-color);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s;
  animation: fadein 0.2s;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  color: var(--ac-color);
  text-decoration: none;
  font-weight: 800;
}

a:hover {
  color: var(--ac-color);
  transition: all 0.2s;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.title {
  display: flex;
  flex: 1;
  margin: 16px 16px 0;
  color: var(--ac-color);
  align-items: center;
  justify-content: space-between;
}

.title-name {
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

.search {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.search-song {
  display: flex;
  flex: 1;
  border: none;
  color: var(--fg-color);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  padding: 16px 0;
  margin: 0 16px;
  outline: none;
  text-overflow: ellipsis;
  border-bottom: 2px solid var(--fg-color);
}

.search-song:focus {
  /* box-shadow: 0 0 32px var(--ac-color); */
}

.results {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.result {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
  margin: 0 32px;
  cursor: pointer;
}

.result:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.result.result-last {
  border-bottom: none;
}

.lyrics {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 32px 32px;
}

.lyrics-title {
}

.copy-lyrics {
  text-align: right;
  cursor: pointer;
  color: var(--ac-color);
  text-transform: uppercase;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  padding: 16px 32px;
}

.credits a {
  color: #aaa;
  padding: 8px 0;
}
